footer.text-center.text-white(style='background-color: #caced1;')
  // Grid container
  .container.p-4
    // Section: Images
    section.footer-sliders.d-none.d-sm-block
      // MEDIUM FOOTER
      .row
        .col-lg-2.col-md-12.mb-4.mb-md-0
          .bg-image.hover-overlay.ripple.shadow-1-strong.rounded(data-ripple-color='light')
            img.w-100(src='./../img/img-13.jpg')
            a(href='#!')
              .mask(style='background-color: rgba(251, 251, 251, 0.2);')
        .col-lg-2.col-md-12.mb-4.mb-md-0
          .bg-image.hover-overlay.ripple.shadow-1-strong.rounded(data-ripple-color='light')
            img.w-100(src='./../img/img-16.jpg')
            a(href='#!')
              .mask(style='background-color: rgba(251, 251, 251, 0.2);')
        .col-lg-2.col-md-12.mb-4.mb-md-0
          .bg-image.hover-overlay.ripple.shadow-1-strong.rounded(data-ripple-color='light')
            img.w-100(src='./../img/img-17.jpg')
            a(href='#!')
              .mask(style='background-color: rgba(251, 251, 251, 0.2);')
        .col-lg-2.col-md-12.mb-4.mb-md-0
          .bg-image.hover-overlay.ripple.shadow-1-strong.rounded(data-ripple-color='light')
            img.w-100(src='./../img/img-18.jpg')
            a(href='#!')
              .mask(style='background-color: rgba(251, 251, 251, 0.2);')
        .col-lg-2.col-md-12.mb-4.mb-md-0
          .bg-image.hover-overlay.ripple.shadow-1-strong.rounded(data-ripple-color='light')
            img.w-100(src='./../img/img-19.jpg')
            a(href='#!')
              .mask(style='background-color: rgba(251, 251, 251, 0.2);')
        .col-lg-2.col-md-12.mb-4.mb-md-0
          .bg-image.hover-overlay.ripple.shadow-1-strong.rounded(data-ripple-color='light')
            img.w-100(src='./../img/img-20.jpg')
            a(href='#!')
              .mask(style='background-color: rgba(251, 251, 251, 0.2);')
    // SMALL FOOTER
    #carouselExampleControls.carousel.slide.d-sm-none(data-bs-ride='carousel')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src='./img.img-13.jpg' alt='...')
        .carousel-item
          img.d-block.w-100(src='./img/img-16.jpg' alt='...')
        .carousel-item
          img.d-block.w-100(src='./img/img-17.jpg' alt='...')
        .carousel-item
          img.d-block.w-100(src='./img/img-18.jpg' alt='...')
        .carousel-item
          img.d-block.w-100(src='./img/img-19.jpg' alt='...')
        .carousel-item
          img.d-block.w-100(src='./img/img-20.jpg' alt='...')
      button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.visually-hidden Previous
      button.carousel-control-next(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.visually-hidden Next
    // Section: Images
  // Grid container
  // Section: Links
  section.footer-links
    .container.text-center.text-md-start.mt-5
      // Grid row
      .row.mt-3
        // Grid column
        .col-md-3.col-lg-4.col-xl-3.mx-auto.mb-4.d-none.d-sm-block
          // Content
          h4.text-uppercase.fw-bold.mb-4
            i.fas.fa-gem.me-3.text-secondary
            | Lor Travel
          p(style='font-size: 1.2rem; text-align: justify;')
            | Our commitment to sustainability and responsible travel means that we strive to minimize our impact on the
            | environment and support local communities.
            | We work with reputable partners who share our values, ensuring that your travels are not only unforgettable,
            | but also meaningful.
        // Grid column
        // Grid column
        .col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4.d-none.d-sm-block
          // Links
          h4.text-uppercase.fw-bold.mb-4
            | Popular Tour
          p(style='font-size: 1.2rem; text-align: justify;')
            a.text-reset(href='/tour/phu-quoc-island')  Phu Quoc Island
          p(style='font-size: 1.2rem; text-align: justify;')
            a.text-reset(href='/tour/mui-ne-sand-dunes') Mui Ne Sand Dunes
          p(style='font-size: 1.2rem; text-align: justify;')
            a.text-reset(href='/tour/hue-ancient-capital') Hue Ancient Capital
          p(style='font-size: 1.2rem; text-align: justify;')
            a.text-reset(href='/tour/dalat') Da Lat Tour
        // Grid column
        .col-md-4.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4
          // Links
          h4.text-uppercase.fw-bold.mb-4 Contact
          p(style='font-size: 1.2rem; text-align: justify;')
            i.fas.fa-home.me-3.text-secondary
            |  Xuan Thuy, Cau Giay, Hanoi
          p(style='font-size: 1.2rem; text-align: justify;')
            i.fas.fa-envelope.me-3.text-secondary
            |             lortravel@company.com
          p(style='font-size: 1.2rem; text-align: justify;')
            i.fas.fa-phone.me-3.text-secondary
            |  + 84 567 392 10
          p(style='font-size: 1.2rem; text-align: justify;')
            i.fas.fa-print.me-3.text-secondary
            |  + 84 567 392 10
        // Grid column
      // Grid row
  // Copyright
  .text-center.p-3(style='background-color: rgba(0, 0, 0, 0.2);')
    | &copy; 2023 Copyright: 
    a.text-white(href='#') LOR TRAVEL
  // Copyright



//- footer.footer 
//-     .footer__logo
//-         img(src='/img/logo-green.png' alt='Natour logo')
//-     ul.footer__nav 
//-         li: a(href='#') About us
//-         li: a(href='#') Download apps
//-         li: a(href='#') Become a guide
//-         li: a(href='#') Carrers
//-         li: a(href='#') Contact
//-     p.footer__copyright &copy; by Minh Tien.