extend base

block append head 
    title Forgot Password

block content
    main.main
        .confirmPassword-form
            h2.heading-secondary.ma-bt-lg Forgot Password
            form.form.form--forgotPassword(action="/resetPassword", method="POST") 
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', name='email', required)
                .form__group
                    button.btn--login Send Email