extend base

block append head 
    title Sign Up Successfully

block content
    main.main
        h1 Sign Up Successfully
        h3.signUpNotify.mt-3 Our system has signed you up. Please check your email to explore more. Have fun! 