extend base

block append head 
    title Reset Password Successfully

block content
    main.main
        h1 Reset Password Successfully
        h3.signUpNotify.mt-3 Our system has changed your password. Please check your email to get your new password. Have fun! 